{% load sass_tags %}

<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="stylesheet" href="{% sass_src 'scss/test.scss' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
        <title>top</title>
    </head>
    <body>
        <header class="header">

            <div class="header__logo">
                <h1><img src="../../static/images/logo_top.png" alt="Hather"></h1>
            </div>

            <nav class="uk-navbar-container header__search" uk-navbar>
                <div class="uk-navbar-left">
                    <div class="uk-navbar-item">
                        <form class="uk-search uk-search-navbar">
                            <span uk-search-icon></span>
                            <input class="uk-search-input" type="search" placeholder="search or #">
                        </form>
                    </div>
                </div>
            </nav>

        </header>
        <main id="main">
            <div class="container">
                {% for post in data %}
                    <div class="post" onclick="popup({{post.id}});">
                        <div class="post-header">
                            <div class="user_name">{{post.user_name}}</div>
                            {% if post.type == 1 %}
                            <div class="for-sns" style="color: #1b91da">for twitter</div>
                            {% else %}
                            <div class="for-sns" style="color: #dc316f">for instagram</div>
                            {% endif %}
                        </div>
                        {% if post.media_url != "" %}
                        <div class="main-image" style="background-image: url({{post.media_url}})"></div>
                        {% else %}
                        <div class="post-content">
                            {{post.content | linebreaksbr}}
                        </div>
                        {% endif %}
                    </div>
                    {% if post.media_url != "" %}
                    <div class="popup-hidden" id={{post.id}}>
                        <div class="popup-header">
                            {{post.user_name}}
                            <p class="close-button" onclick="closePopup({{post.id}})">close</p>
                        </div>
                        <img class="popup-post" src={{post.media_url}}>
                        <div class="post-media-content">
                            <p>{{post.content | linebreaksbr}}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </main>
        <script>
            function popup(id){
                console.log(id);
                target = document.getElementById(id);
                main = document.getElementById("main");
                target.classList.remove("popup-hidden");
                target.classList.add("popup-show");
                main.classList.add("main-shadow");
            }
            function closePopup(id){
                target = document.getElementById(id);
                main = document.getElementById("main");
                target.classList.remove("popup-show");
                main.classList.remove("main-shadow");
                target.classList.add("popup-hidden");

            } 
        </script>
    </body>
</html>

<!-- https://hungry-bros.com/archives/904 -->